<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Newsletter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'whizapp/news.css' %}" />
</head>
<body style="text-align: center;">
    <h2 style="color: blue">Daily Newsletter</h2>
    <div style="width: 100%;">
        {% for post in posts %}
        <div class="post"><span><a href="https://whizapp.herokuapp.com/{{ post.qid }}">{{ post.title }}</a></span></div>
        {% endfor %}
    </div>
</body>
</html>
